################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/C#/If Tasks/.vs
/C#(Array,String,Loops)/.vs
/Methods & Collections in C#/.vs
/Function(1)/.vs
/Function(2)/.vs
/Function(3)/.vs/Function(3)
