################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/C#/If Tasks/.vs
/C#(Array,String,Loops)/.vs
/Methods & Collections in C#/.vs
/Function(1)/.vs
/Function(2)/.vs
/Function(3)/.vs/Function(3)
/Task (2)/.vs/Task (2)
/Task (3)/.vs/Task (3)
/Task (4)/.vs/Task (4)
/C# Tasks - (Methods,List,LINQ,LinkedList)/.vs
/Object-Oriented Programming (OOP) in C#/.vs
/OOP Principles in C#/.vs
